@font-fase {
	font-family: "Circe";
    src: url(../font/Circe-Regular.woff2) format("woff2"),
        url(../font/Circe-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal; 
}
@font-face {
	font-family: "Circe Bold";
    src: url(../font/Circe-Bold.woff2) format("woff2"),
        url(../font/Circe-Bold.woff) format("woff");
    font-weight: 600;
    font-style: bold; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto; 
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  border-top: 1px solid #ff6c64;
}
.page-header__inner {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-header__logo {
  display: block;
  padding: 14px 0px;
}
.page-header__img {
  display: block;
  width: 190px;
  height: 37px;
}
.user {
  display: none;
  padding: 20px 0px;
}
.user__list {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  list-style: none;
}
.user__link {
  display: block;
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  color: #555555;
  text-decoration: none;
}
.page-header__mob-open {
  position: absolute;
  display: block;
  right: 15px;
  top: 0px;
  width: 44px;
  height: 44px;
  margin: 10px 0px;
  background-image: url(../img/gamburger.png);
  border: none;
}
.user__btn {
  display: block;
  width: 131px;
  height: 33px;
  margin-top: 8px;
  font-size: 11px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #ff6c64;
  border-radius: 2px;
}
@media(min-width: 768px) {
  .user__btn {
    display: block;
    width: 205px;
    height: 50px;
    font-size: 16px;
    line-height: 51px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2px;
    background-color: #ff6c64;
    cursor: pointer;
  }
}
@media (min-width: 1024px) {
  .page-header__mob-open {
    display: none;
  }
  .page-header__inner {
    flex-direction: row;
  }
  .page-header__logo {
    display: block;
    margin-top: 23px;
    padding: 0px;
  }
  .page-header__img {
    display: block;
    width: 285px;
    height: 56px;
  }
  .user {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 34px;
    margin-bottom: 35px;
    padding: 0px;
  }
  .user__list {
    width: 191px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-right: 80px;
    list-style: none;
  }
  .user__link {
    display: block;
    font-size: 17px;
    line-height: 29px;
    font-weight: 400;
    color: #555555;
    text-decoration: none;
  }
  .user__btn {
    display: block;
    width: 205px;
    height: 50px;
    margin: 0px;
    font-size: 16px;
    line-height: 51px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2px;
    background-color: #ff6c64;
    cursor: pointer;
  }
  .user__item {
    margin-top: 10px;
  }
}
.banner {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 18px;
  background-color: rgb(249, 249, 249);
}
.banner__inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 290px;
  margin: 0 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.banner__title {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner__title span {
  display: block;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner__text {
  padding: 0px;
  padding-bottom: 10px;
  margin: 0px;
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
}
.banner__link {
  display: block;
  width: 131px;
  height: 33px;
  margin-top: 8px;
  font-size: 11px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #ff6c64;
  border-radius: 2px;
}
@media (min-width: 768px) {
  .banner {
    margin: 0px auto;
    margin-bottom: 42px;
    background-image: url(../img/banner_desctop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner__inner {
    width: 362px;
    margin-left: 15px;
    padding-top: 26px;
    padding-bottom: 30px;
  }
  .banner__title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 23px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner__title span {
    display: block;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner__text {
    padding: 0px;
    padding-bottom: 20px;
    margin: 0px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
  }
  .banner__link {
    display: block;
    width: 205px;
    height: 50px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 51px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #ff6c64;
    border-radius: 2px;
  }
}
@media (min-width: 1024px) {
  .banner {
    margin-bottom: 60px;
  }
  .banner__inner {
    width: 450px;
    margin-left: 60px;
    padding-top: 115px;
    padding-bottom: 135px;
  }
  .banner__title {
    margin-bottom: 26px;
    line-height: 44px;
  }
  .banner__text {
    padding-bottom: 27px;
  }
  .banner__link {
    margin-top: 23px;
  }
}
@media (min-width: 1170px) {
  .banner {
    position: relative;
  }
  .banner::before {
    position: absolute;
    content: "";
    width: 273px;
    height: 395px;
    bottom: -300px;
    left: -190px;
    background-image: url(../img/icon_petals.png);
    z-index: -1;
  }
}
.service {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.service__title {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 600;
  text-align: center;
}
.service__text {
  margin: 0px;
  padding: 0px;
  padding-bottom: 15px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}
.service__name {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  line-height: 11px;
  font-weight: 600;
  text-align: left;
}
.service__link {
  position: relative;
  font-size: 8px;
  line-height: 37px;
  font-weight: 400;
  color: #595959;
  text-transform: uppercase;
  text-decoration: none;
}
.service__link::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 11px;
  bottom: 1px;
  right: -30px;
  background-image: url(../img/icon-strel.png);
}
.service__list {
  width: 289px;
  padding: 0px;
  margin: 0px auto;
  list-style: none;
}
.service__block {
  width: 136px;
}
.service__img {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .service {
    padding: 0px;
  }
  .service__item {
    margin-bottom: 15px;
  }
  .service__block {
    width: 220px;
    margin: 0 15px;
  }
  .service__text {
    font-size: 16px;
    padding-bottom: 50px;
  }
  .service__list {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .service__title {
    font-size: 28px;
    line-height: 44px;
  }
  .service__name {
    font-size: 20px;
    line-height: 21px;
  }
  .service__link {
    font-size: 12px;
    line-height: 70px;
  }
  .service__link::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 11px;
    bottom: 4px;
    right: -30px;
    background-image: url(../img/icon-strel.png);
  }
}
@media (min-width: 1024px) {
  .service__title {
    font-size: 36px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .service__list {
    justify-content: flex-start;
  }
}
@media (min-width: 1170px) {
  .service {
    margin-bottom: 72px;
  }
  .service__block {
    width: 260px;
  }
  .service__list {
    position: relative;
  }
  .service__list::after {
    position: absolute;
    content: "";
    bottom: -65px;
    right: -95px;
    width: 807px;
    height: 667px;
    background-image: url(../img/cosmetic.jpg);
    z-index: -1;
  }
}

.advantage {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.advantage__title {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 600;
  text-align: center;
}
.advantage__text {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}
.advantage__name {
  padding: 0px;
  margin: 0px;
  margin-bottom: 9px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
}
.advantage__block {
  width: 230px;
  margin: 0 auto;
  text-align: center;
}
.advantage__block p {
  padding: 0px;
  margin: 0px;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
}
.advantage__list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.advantage__picture {
  position: relative;
  display: flex;
  width: 148px;
  height: 148px;
  margin: 0 auto;
  margin-bottom: 34px;
  margin-top: 24px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
}
.advantage__picture--one::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  top: 8px;
  left: -10px;
  background-image: url(../img/icon_onead.png);
}
.advantage__picture--two::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  top: 8px;
  left: -10px;
  background-image: url(../img/icon_twoad.png);
}
.advantage__picture--three::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  top: 8px;
  left: -10px;
  background-image: url(../img/icon_threead.png);
}
.advantage__img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantage {
    margin-bottom: 75px;
  }
  .advantage__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .advantage__picture {
    margin-bottom: 34px;
    margin-top: 34px;
  }
  .advantage__item {
    width: 250px;
  }
  .advantage__block {
    width: 230px;
  }
  .advantage__name {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .advantage__text {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .advantage__block p {
    font-size: 15px;
    margin-bottom: 3px;
  }
  .advantage__title {
    font-size: 28px;
    line-height: 44px;
  }
}
@media (min-width: 1024px) {
  .advantage__title {
    font-size: 36px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .advantage__item {
    width: 320px;
  }
  .advantage__block {
    width: 320px;
    padding: 0 29px;
  }
}

.work {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.work__wrraper {
  position: relative;
  border: 6px solid #f9f9f9;
  padding: 30px 0px;
}
.work__wrraper::after {
  position: absolute;
  content: "";
  left: 5px;
  top: 5px;
  width: 96%;
  height: 99%;
  border: 2px solid #f9f9f9;
}
.work__title {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 600;
  text-align: center;
}
.work__text {
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}
.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.work__item {
  width: 190px;
  margin: 10px;
  padding-bottom: 18px;
}
.work__img {
  display: block;
  margin: 0 auto;
}
.work__name {
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .work {
    margin-bottom: 50px;
  }
  .work__title {
    font-size: 28px;
    line-height: 44px;
  }
  .work__text {
    font-size: 16px;
  }
  .work__wrraper {
    position: relative;
    padding: 50px 0px;
  }
  .work__wrraper::after {
    position: absolute;
    content: "";
    left: 3px;
    top: 5px;
    width: 99%;
    height: 98%;
    border: 2px solid #f9f9f9;
  }
  .work__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 700px;
  }
  .work__inner--one {
    position: relative;
    margin-right: auto;
    margin-left: 0px;
  }
  .work__inner--two {
    position: relative;
    margin-left: auto;
    margin-right: 0px;
  }
  .work__line--one {
    position: absolute;
    top: 60px;
    left: 170px;
    width: 343px;
    height: 26px;
    background-image: url(../img/check.png);
  }
  .work__line--two {
    position: absolute;
    top: 60px;
    left: 165px;
    width: 343px;
    height: 26px;
    background-image: url(../img/check.png);
  }
  .work__wrraper::after {
    position: absolute;
    content: "";
    left: 5px;
    top: 5px;
    width: 99%;
    height: 98%;
    border: 2px solid #f9f9f9;
  }
}
@media (min-width: 1024px) {
  .work {
    margin-bottom: 80px;
  }
  .work__title {
    font-size: 36px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .work__wrraper {
    position: relative;
    padding: 80px 0px;
  }
  .work__wrraper::after {
    position: absolute;
    content: "";
    left: 5px;
    top: 5px;
    width: 99%;
    height: 98%;
    border: 2px solid #f9f9f9;
  }
  .work__list {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .work__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 700px;
  }
  .work__inner--one {
    position: relative;
    margin-right: auto;
    margin-left: 110px;
  }
  .work__inner--two {
    position: relative;
    margin-left: auto;
    margin-right: 95px;
  }
  .work__line--one {
    position: absolute;
    top: 60px;
    left: 170px;
    width: 343px;
    height: 26px;
    background-image: url(../img/check.png);
  }
  .work__line--two {
    position: absolute;
    top: 60px;
    left: 165px;
    width: 343px;
    height: 26px;
    background-image: url(../img/check_two.png);
  }
}
@media (min-width: 1170px) {
  .work {
    position: relative;
  }
  .work::before {
    position: absolute;
    content: "";
    width: 352px;
    height: 650px;
    top: -66px;
    left: -175px;
    background-image: url(../img/icon-work.png);
    z-index: -1;
  }
}

.reviews {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 90px;
}
.reviews__title {
  font-size: 0;
}
.reviews__text {
  font-size: 0;
}

@media (min-width: 768px) {
  .reviews {
    margin-bottom: 90px;
  }
  .reviews__wrraper {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 0 auto;
  }
  .reviews__inner {
    width: 250px;
  }
  .reviews__item {
    margin: 0px;
  }
  .reviews__title {
    margin: 0px;
    padding: 0px;
    font-size: 28px;
    line-height: 44px;
    font-weight: 600;
    text-align: center;
  }
  .reviews__text {
    margin: 0px;
    padding: 0px;
    padding-bottom: 45px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
  }
  .reviews__name {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    line-height: 16px;
    font-weight: 600;
    padding-bottom: 24px;
  }
  .reviews__inner p {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
  }
}
@media (min-width: 1024px) {
  .reviews {
    margin-bottom: 120px;
  }
  .reviews__wrraper {
    width: 490px;
  }
  .reviews__inner {
    width: 378px;
  }
  .reviews__title {
    font-size: 36px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .reviews__inner p {
    font-size: 15px;
  }
  .reviews__text {
    padding-bottom: 90px;
  }
}
@media (min-width: 1170px) {
  .reviews {
    position: relative;
  }
  .reviews::before {
    position: absolute;
    content: "";
    width: 472px;
    height: 710px;
    right: -170px;
    top: -197px;
    background-image: url(../img/decors_reviews.png);
    z-index: -1;
  }
}
.application {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.application__wrraper {
  display: none;
}
@media (min-width: 768px) {
  .application {
    margin-bottom: 50px;
  }
  .application__wrraper {
    display: block;
  }
  .application__title {
    padding: 0px;
    margin: 0px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    font-size: 28px;
    line-height: 44px;
    font-weight: 600;
  }
  .application__description p {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
  }
  .application__inner {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
  }
  .application__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  .application__wrraper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .application__inner {
    width: 490px;
    margin-left: 40px;
    padding-top: 50px;
  }
  .application__link .application__link--google {
    background-image: url(../img/google.png);
    background-repeat: no-repeat;
  }
  .application__link--google {
    display: block;
    width: 185px;
    height: 53px;
  }
  .application__link .application__link--app {
    background-image: url(../img/app.png);
    background-repeat: no-repeat;
  }
  .application__link--app {
    display: block;
    width: 160px;
    height: 53px;
  }
  .application__inner::before {
    position: absolute;
    content: "";
    width: 576px;
    height: 187px;
    bottom: -10px;
    right: -10px;
    background-image: url(../img/decors_application.png);
    z-index: -1;
  }
  .application__picture {
    display: block;
  }
}
@media (min-width: 1024px) {
  .application {
    margin-bottom: 80px;
  } 
  .application__picture {
    display: block;
  }
  .application__wrraper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .application__inner {
    width: 490px;
    margin-right: auto;
    margin-left: 80px;
    padding-top: 85px;
  }
  .application__inner::before {
    position: absolute;
    content: "";
    width: 576px;
    height: 187px;
    bottom: 20px;
    right: -10px;
    background-image: url(../img/decors_application.png);
  }
  .application__name {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 5px;
    margin-bottom: 25px;
  }
  .application__title {
    font-size: 36px;
    line-height: 34px;
    padding-bottom: 5px;
    margin-bottom: 21px;
  }
  .application__description p {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 6px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1170px) {
  .application {
    position: relative;
  }
  .application::before {
    position: absolute;
    content: "";
    width: 97px;
    height: 270px;
    left: -175px;
    top: 28px;
    background-image: url(../img/icon-application.png);
    z-index: -1;
  }
}

.page-footer {
  max-width: 1170px;
  margin: 0 auto;
  border-top: 1px solid #f5e7f4;
}
.page-footer__copyright {
  padding: 15px 0px;
}
.page-footer__copyright-text {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #9b9b9b;
}
.page-footer__copyright-link {
  display: block;
  padding: 0px;
  margin: 0px;
  font-size: 13px;
  font-weight: 400;
  color: #9b9b9b;
  text-align: center;
  text-decoration: none;
  
}
@media (min-width: 768px) {
  .page-footer {
    border-top: 2px solid #f5e7f4;
  }
  .page-footer__copyright-text {
    font-size: 20px;
    padding-top: 15px;
  }
  .page-footer__copyright-link {
    font-size: 14px;
  }
}